body {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}
h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
}

input [id="userpip"] {
    width: 100%;
}

textarea {
    min-width: 100%;
    height: auto;
    border: none;
}

#counter {
    color: lightgrey;
}

#sidebar {
    background-color: white;
    padding-top: 10px;
}

#feed {
    background-color: white;
    border-left: solid 1px lightgrey;
    padding: 10px 0px 0px 0px;
}

#pipbox {
    border-bottom: solid 1px lightgrey;
}

.sidebar-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sidebar-link i::after {
    content: "\00a0\00a0";
}

#mybutton {
    color: #f55600;
}

.btn-pip {
    color: white;
    background-color: #f55600;
    border: none;
    border-radius: 25px;
    padding: 8px 40px;
}

.btn-pip:hover {
    color: white;
    background-color: #b43f00;
}

ul li {
    list-style-type: none;
    padding: 10px 0px;
}

ul {
    padding: 0;
    margin: 0;
}

.userImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-bottom: 0;
}

.postedPipDate {
    font-size: 12px;
}

.postedPipBox {
    padding: 10px;
    transition: background-color 0.3s;
    border-bottom: solid 1px lightgrey;
}

.postedPipBox:hover {
    background-color: WhiteSmoke;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  #pipCloseModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }