body {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}
h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
}

input [id="userpip"] {
    width: 100%;
}

#userPip {
    font-weight: bold;
}

textarea[name="textpip"] {
    min-width: 100%;
    height: auto;
    border: none;
    resize: none;
}


#postPipForm {
    padding-top: 10px
}

#counter {
    color: lightgrey;
}

#sidebar {
    background-color: white;
    padding-top: 10px;
    min-height: 100vh;
}

#login-btn {

}
#feed {
    background-color: white;
    border-left: solid 1px lightgrey;
    padding: 10px 0px 0px 0px;
}

#pipbox {
    border-bottom: solid 1px lightgrey;
}

.sidebar-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sidebar-link i::after {
    content: "\00a0\00a0";
}

#mybutton {
    color: #f55600;
}

.btn-pip {
    color: white;
    background-color: #f55600;
    border: none;
    border-radius: 25px;
    padding: 8px 40px;

}

.btn-pip:hover {
    color: white;
    background-color: #b43f00;
}

ul li {
    list-style-type: none;
    padding: 10px 0px;
}

ul {
    padding: 0;
    margin: 0;
}

.postedPipBoxContent {
    display: flex;
}

.postedPipTextContent {
    width: 100%;
}

.authenticate-icon {
    margin-bottom: 3px;
    margin-right: 5px;
}

.userImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.userfirstname {
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 5px;
}

/* .userfirstname:after {
    content: url("data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
  </svg>");
} */

.username {
    font-weight: normal;
    color: #888;
    margin-bottom: 0;
}

.username:before {
    content: "@";
}

.postedPipDate {
    font-size: 12px;
}

.postedPipBox {
    padding: 10px;
    transition: background-color 0.3s;
    border-bottom: solid 1px lightgrey;
}

.postedPipBox:hover {
    background-color: WhiteSmoke;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  #pipCloseModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }